langchain-openai
pandas
numpy
langchain
python-dotenv
langchain_community
streamlit
langchain_core
bs4
pymupdf
pypdf 
arxiv
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain_groq
arxiv
wikipedia
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
gradio